<?xml version="1.0"?>
<configuration>
    - <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    - <encoder>
    <pattern>%highlight([%level]) - [%date] - [%logger] %msg%n</pattern>
</encoder>
</appender>
    -<logger name="com.knoldus" level="info">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
</logger>
</configuration>